 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
}

body {
    display: grid;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5, p {
    color: var(--color-data);
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: var(--font-size-l);
    background-color: var(--color-accent);
    color: var(--color-accent-foreground);
}

svg {
    color: var(--color-data);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-data);
    text-decoration: none;
}

a:visited {
    color: var(--color-data);
}

main { 
    display: grid;
    grid-template-rows: auto auto auto auto;
    margin-top: var(--nav-height);
}

.button {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    height: var(--row-size);
    color: var(--color-data);
    border-radius: 0;
    cursor: pointer;
}

#lx .button.disabled,
#lx .button.disabled:hover {
    background-color: var(--color-button-disabled-background);
    color: var(--color-button-disabled);
    cursor: not-allowed;
}

#lx .button.disabled svg {
    fill: var(--color-button-disabled);
}

.button:focus {
    outline: 2px solid var(--color-interactive);
    outline-offset: -2px;
}

.button svg {
    fill: var(--color-data);
}

.button.icon-only {
    justify-content: center;
    align-items: center;
    width: var(--row-size);
}

#nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-nav-background);
    color: var(--color-nav-foreground);
    z-index: 10;
}

#nav .right {
    display: flex;
}

#nav .button {
    background-color: transparent;
    color: var(--color-nav-foreground);
}

#nav .button:hover {
    background-color: var(--color-nav-hover-background);
    color: var(--color-nav-hover-foreground);
}

#nav .button svg {
    fill: var(--color-nav-foreground);
}

#nav .button:hover svg {
    fill: var(--color-nav-hover-foreground);
}

#nav .button:not(:last-of-type) {
    position: relative;
}

#nav .button:not(:last-of-type)::before {
    content: '';
    position: absolute;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 3rem;
    border-right: 1px solid var(--color-nav-chrome);
    height: 2rem;
    z-index: 2;
}

#nav-links {
    display: flex;
}

#content .region {
    background-color: var(--color-background-region);
}

#content #cover .region {
    background-color: var(--color-background-region);
    columns: var(--color-main-foreground);
}

#cover {
    height: 50rem;
    width: 100%;
}

#cover-img {
    z-index: -1;
    height: 50rem;
    width: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0.5;
}

.lx-theme-dark #cover-img {
    opacity: 0.5;
}

#cover-title-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
}

#cover-title {
    font-size: var(--font-size-xxl);
    font-weight: 500;
}

#cover-author {
    font-size: var(--font-size-l);
}

#cover-region-wrapper {
    padding-top: 14rem;
}

#cover-title-wrapper {
    text-align: center;
}

#cover-region-wrapper > .region.filled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12rem;
    width: 100%;
    text-align: center;
    padding: var(--padding-1) 0;
}

.region .cover-text {
    font-size: var(--font-size-l);
    font-weight: normal;
}

#luis {
    height: 35rem;
    width: 100%;
}

#luis-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'luis-top luis-bottom';
    padding: var(--padding-1) 0;
    width: 100%;
    gap: var(--row-size);
}

#luis .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
    text-align: left;
    row-gap: 1rem;
    grid-area: luis-top;
}

#luis .right {
    display: flex;
    position: relative;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    grid-area: luis-bottom;
}

#luis #luis-img {
    object-fit: scale-down;
}

#luis .right img {
    object-fit: contain;
}

#luis .right img {
    width: 100%;
}

#luis .luis-img-small {
    display: none;
}

#luis #luis-img-cluster {
    display: flex;
    gap: 1rem;
}

#estudies {
    padding: var(--padding-3) 0;
    text-align: center;
    height: 45rem;
}

#estudies-title {
    margin-bottom: 1rem;
}

.carousel-wrapper {
    display: flex;
    gap: 1rem;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 32%;
    height: 30rem;
    padding: 1rem;
    text-align: left;
    background-color: var(--color-background);
}

.carousel-item-title {
    margin-top: 1rem;
}

.carousel-item img {
    width: 100%;
    height: calc(var(--row-size) * 4);
    display: block;
}

.carousel-button {
    background-color: var(--color-main);
    color: var(--color-main-foreground);
}

.carousel-button svg {
    fill: var(--color-main-foreground); 
}

.carousel-button:hover {
    background-color: var(--color-main-hover);
    color: var(--color-main-hover-foreground);
}

.carousel-button:hover svg {
    fill: var(--color-main-hover-foreground);
}

#carousel-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: var(--padding-1);
}

.carousel-image-container {
    width: 100%;
    overflow: hidden;
    justify-self: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

#remote {
    height: 35rem;
    padding: var(--padding-1) 0;
}

#remote-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 'remote-top remote-bottom';
    gap: var(--row-size);
}

#remote-wrapper .top,
#remote-wrapper .bottom {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    justify-content: center;
}

#remote-wrapper .top {
    grid-area: remote-top;
}

#remote-wrapper .bottom {
    grid-area: remote-bottom;
}

#remote-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#tools {
    height: 40rem;
    padding: var(--padding-1) 0 var(--padding-1) 0;
}

#tools-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'tools-top' 'tools-bottom';
    justify-items: center;
    align-items: center;
    row-gap: 1rem;
}

#tools-wrapper img {
    width: 14rem;
    object-fit: contain;
}

#tools-wrapper .bottom {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
    grid-area: tools-bottom;
}

#tools-wrapper .top {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    grid-area: tools-top;
}

#luis-title, #remote-title {
    padding-left: 0.5rem;
}

#estudies, #luis, #remote, #cover-region-wrapper, #cover-title-wrapper, #tools {
    display: grid;
    grid-template-columns: auto var(--grid-body-column-size) auto;
}

@media (max-width: 1400px) {
    #luis, #estudies, #cover-region-wrapper, #cover-title-wrapper, #remote, #tools {
        grid-template-columns: 1fr calc(100% - 2*var(--row-size)) 1fr;
    }

    #luis, #estudies, #remote, #tools {
        height: auto;
    }
} 

@media (max-width: 1000px) {
    .carousel-item {
        flex: 0 0 48%;
    }

    #luis {
        height: 40rem;
    }
}

@media (max-width: 800px) {
    #remote-wrapper {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    
  #luis {
    grid-template-columns: 0 auto 0;
    grid-template-rows: 0 auto 0;
    padding: var(--padding-1);
    height: 75rem;
  }

  #luis-wrapper {
    grid-template-areas: 'luis-top' 'luis-bottom';
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 2rem;
  }

  #luis .right {
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    height: 50rem;
  }

  #luis #luis-img {
    display: none;
  }

  #luis .right .luis-img-small {
    display: block;
    width: 25rem;
  }

  #luis .right #luis-img-cluster .luis-img-small {
    display: block;
    width: 50%;
  }

  #luis #luis-img-cluster {
    width: 30rem;
    justify-content: center;
  }

  #luis .left {
    justify-content: start;
    text-align: center;
  }

  #tools #tools-wrapper img {
    height: auto;
  }

  #tools {
    grid-template-rows: 0 auto 0;
    height: 100rem;
    padding: var(--padding-1);
  }

  #tools-wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 'tools-bottom' 'tools-top';
    row-gap: 1rem;
  }

  #tools-wrapper img, #remote-wrapper .top {
    width: 25rem;
  }

  #tools-wrapper .top {
    flex-direction: column;
    gap: 1rem;
  }

  #tools-wrapper .bottom {
    text-align: center;
  }

  #tools-title {
    padding-left: 0.5rem;
  }

  #tools {
    grid-template-columns: 100%;
  }
  
  #remote {
    padding: var(--padding-1);
    height: 45rem;
    grid-template-rows: 0 auto 0;
  }

  #remote-wrapper .left {
    justify-content: start;
  }

  #remote-wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'remote-bottom' 'remote-top';
    gap: 2rem;
    text-align: center;
  }

  #luis-title, #remote-title {
    padding: 0;
  }
}

@media (max-width: 700px) {
  #luis, #estudies, #cover-region-wrapper, #cover-title-wrapper, #remote{
    grid-template-columns: 100%;
  }

  #cover-region-wrapper {
    padding-top: 10rem;
  }

  #cover-title-wrapper {
    padding-left: var(--padding-1);
    padding-right: var(--padding-1);
  }

  #cover, #cover-img {
    height: 60rem;
  }
  
  #cover-region-wrapper > .region.filled {
    height: 18rem;
    padding-left: var(--padding-1);
    padding-right: var(--padding-1);
  }

  #estudies {
    padding: var(--padding-1);
    grid-template-rows: 0 auto 0;
  }

  #carousel-container {
    gap: 0.5rem;
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 540px) {
    #tools {
        height: 105rem;
      }
}

 @media (max-width: 600px) {
    #carousel-container {
        position: relative;
        grid-template-columns: auto;
      }
      
      .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
      
      .carousel-button:first-of-type {
        left: -1rem;
      }
      
      .carousel-button:last-of-type {
        right: -0.75rem;
      }

    #luis .right #luis-img-cluster, 
    #luis .right .luis-img-small {
        width: 100%;
    }

    #luis {
    height: 78rem;
}
  } 

@media (max-width: 500px) {
  #remote {
    height: 42rem;
  }

  .carousel-item {
    flex: 0 0 97%;
  }

  #tools-wrapper img, #remote-wrapper .top {
    width: 20rem;
  }

  #tools {
    height: 95rem;
  }

  #luis {
    height: 70rem;
}
#luis-wrapper {
    padding: 0;
}

#luis .right {
    height: 40rem;
}
}

@media (max-width: 400px) {
  #cover, #cover-img {
    height: 65rem;
  }

  #cover-region-wrapper > .region.filled {
    height: 20rem;
  }

  #tools-wrapper img, #remote-wrapper .top {
    width: 16rem;
  }

  #luis {
    height: 65rem;
    }

    #luis .right {
        height: 30rem;
    }

    #tools {
        height: 95rem;
    }

    #remote {
        height: 45rem;
    }
}