#lx.lx-theme-light {
--color-accent: #eaaa00;
--color-accent-foreground: #000000;
--color-main: #0a81d0;
--color-main-hover: #0f508d;
--color-main-foreground: #eeeeee;
--color-main-hover-foreground: #eeeeee;
--color-data: #000000;
--color-chrome: #dee0e3;
--color-background: #eef2f8;
--color-background-region: #ffffff;
--color-nav-background: #21262c;
--color-nav-foreground: #eeeeee;
--color-nav-chrome: #555555;
--color-nav-hover-background: #131920;
--color-nav-hover-foreground: #eeeeee;
--color-button-disabled: #8d8d8d;
--color-button-disabled-background: #f4f4f4;
--color-interactive: #2674ff;
}